<p id="notice"><%= notice %></p>

<h1>Shouts</h1>

<% @shouts.each do |shout| %>
	<div class="panel panel-default">
		<div class="panel-body">
			<%= shout.content %> 
		</div>
		<div class="panel-footer">
			sent by <%= shout.user.email %>
		</div>
	</div>
<% end %>
  
<br>

<%= link_to 'New Shout', new_shout_path %>


